<ion-view id="facility-page">
    <ion-nav-bar class = "bar-positive">
        <ion-nav-title>
            Santa Clara Gym
        </ion-nav-title>
        <ion-nav-back-button >
            <button class="button button-clear  ion-arrow-left-c" ng-click = "goBack()"></button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="facilities-container">
            <div class='circle-container'>
                <a href='#' class='center'><img src='https://cdn3.iconfinder.com/data/icons/forall/1062/gym-512.png'></a>
                <a href='#' class='deg0'><img src='http://www.freeiconspng.com/uploads/swim-icon-blue-9.png'></a>
                <a href='#' class='deg45'><img src='http://www.amichevolietornei.it/images/favicon256.png'></a>
                <a href='#' class='deg135'><img src='https://images.vexels.com/media/users/3/132665/isolated/lists/cf0b4b825cd99b7e00ccf5cad3e7a014-weightlifting-circle-icon.png'></a>
                <a href='#' class='deg180'><img src='https://cdn3.iconfinder.com/data/icons/hotel-services-facilities-2/256/Fitness_Center-512.png'></a>
                <a href='#' class='deg225'><img src='https://thumb10.shutterstock.com/display_pic_with_logo/917465/240555967/stock-vector-basketball-symbol-design-on-blue-button-clean-vector-240555967.jpg'></a>
                <a href='#' class='deg315'><img src='https://thumb1.shutterstock.com/display_pic_with_logo/3497303/334923347/stock-vector-tennis-icon-334923347.jpg'></a>
            </div>
        </div>
    </ion-content>
</ion-view>