<ion-view id="help-page">
    <ion-nav-bar class="bar-positive">
        <ion-nav-title>
            Help
        </ion-nav-title>
        <ion-nav-back-button>
            <button class="button button-clear  ion-arrow-left-c" ng-click="goBack()"></button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="help-container">
            <h4>Let us know your comments, concerns or requests:</h4>
            <textarea name="comment" ng-model="comment.text" rows="5" cols="30" id="comment-textarea" placeholder="Put any comment..."></textarea>
            <div class="justify-center">
                <button ng-click="submitComments()" class="button button-positive submit-comments" type="button">Send My Comments</button>
                <h5 class="other-contact">
                    Or <img class="call-icon" src="../img/call_us.png" /> 408-000-0000
                </h5>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>